{% extends 'base.html' %}
{% block title %}Delete Product{% endblock %}
{% block navbar_logo %}
<a href="{% url 'products_list' %}">E-Shop</a>
{% endblock %}
{% block navbar %}
<a href="{% url 'products_list' %}">Product List</a>
<a href="{% url 'product_add' %}">Add Product</a>
<a href="{% url 'product_update' product.pk %}">Update Product</a>
{% endblock %}
{% block content %}
<h1>Delete Product</h1>
<div class="product_detail_info">
    <div class="product_image">
        <img src="{{ product.product_image }}" alt="{{ product.product_name }} image">
    </div>
    <div class="product_detail_str">
        <p>Product name: <span>{{ product.product_name }}</span></p>
        <p>Description: <span>{{ product.product_description }}</span></p>
        <p>Category: <span>{{ product.category }}</span></p>
        <p>The rest of the goods: <span>{{ product.the_rest_of_the_goods }}</span></p>
        <p>Price: <span>{{ product.price }} tg</span></p>
    </div>
</div>
<h3 class="delete_text">Are you sure you want to delete the product?</h3>
<div class="delete_form_block">
    <div class="form_yes">
        <form action="{% url 'product_confirm_delete' product.pk %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Yes">
        </form>
    </div>
    <div class="form_no">
        <form action="{% url 'products_list' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="No">
        </form>
    </div>
</div>
{% endblock %}